<!doctype html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="chinohara'page.">
    <!-- オープングラフプロトコル。通称OGプロトコル start -->
    <meta property="og:title" content="Petitmo.co"/>
    <meta property="og:description" content="子供をもっと可愛く、格好良く！Instagram viewer."/>
    <!--<meta property="og:image" content="http://chinohara.github.io/images/PENGIN.png"/>-->
    <!--<meta property="og:url" content="http://chinohara.github.io/"/>-->
    <!--<meta property="og:type" content="blog"/>-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">
	<link href="/styles/common.css" rel="stylesheet" type="text/css" media="all" />
	
	<!--<script src="/scripts/controllers/main.js"></script>-->
</head>
<body ng-controller="mainCtrl">
	<!--メニュー-->
	<div class="custom-wrapper pure-g" id="menu">
	    <div class="pure-u-1 pure-u-md-1-3">
	        <!--<div class="pure-menu">
	            <a href="#" class="pure-menu-heading custom-brand">Petitmo</a>
	            <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
	        </div>-->
	    </div>
	    <div class="pure-u-1 pure-u-md-1-3">
	    	<div class="pure-menu">
	            <a href="#" class="pure-menu-heading custom-brand">Petitmo</a>
	            <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
	        </div>
	        <!--<div class="pure-menu pure-menu-horizontal custom-can-transform">
	            <ul class="pure-menu-list">
	                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
	                <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
	            </ul>
	        </div>-->
	    </div>
	    <div class="pure-u-1 pure-u-md-1-3">
	        <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
	            <ul class="pure-menu-list">
	                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
	                <li class="pure-menu-item"><a href="views/about.html" class="pure-menu-link">About</a></li>
	            </ul>
	        </div>
	    </div>
	</div>
	<!--ヘッダー-->
	<div class="pure-g header">
		<!--ランディング-->
		<div class="pure-u-1 pure-u-md-2-3 landing">
			<div class="pure-g">
				<div class="landing--small">
					<div class="pure-u-1">
						<img class="pure-img" src="/img/2469413782_a9ac59584b.jpg"></img>
					</div>
				</div>
				<div class="landing--large">
					<div class="pure-u-1-3"></div>
					<div class="pure-u-1-3">
						<img class="pure-img" src="/img/2469413550_cfbcd460cf.jpg"></img>
					</div>
					<div class="pure-u-1-3">
						<img class="pure-img" src="/img/4324910190_21927c5513.jpg"></img>
					</div>
				</div>
			</div>
		</div>
		<!--スポンサ-->
		<div class="pure-u-1 pure-u-md-1-3 sponsor"></div>
	</div>
	<!--メイン-->
	<div class="pure-g main">
		<!--メインコンテンツ-->
		<div ng-show="show_loading">
	    	<div class="loader">Loading...</div>
	  	</div>
	  	<div ng-show="show_photos">
			<div class="pure-u-1 pure-u-md-2-3 contents-main">
				<!--コンテンツヘッダー-->
				<div class="topic">
					<i class="fa fa-calendar fa-lg"></i> {{resp.batchCreatedDate | date:'M / d (EEE)'}}
					<i class="fa fa-clock-o fa-lg"></i> {{resp.batchCreatedDate | date:'a h 時'}}更新
				</div>
				<div class="pure-g">
		            <div class="pure-u-1-2 pure-u-md-1-3" ng-repeat="instaInfo in resp.instaInfos" ng-hide="show_loading">
		                <!--コンテンツ-->
		                <div class="content">
			                <a ng-href="{{ instaInfo.link }}">
			                	<img class="pure-img" ng-src="{{ instaInfo.imageUrl }}">
			                </a>
			                <div class="content-image-meta">出典:Instagram.com</div>
			                <div class="pure-g content-meta">
			                	<div class="pure-u-1-4">
			                		<img class="pure-img content-image-user" ng-src="{{ instaInfo.userPictureUrl}}">
			                	</div>
			                	<div class="pure-u-3-4">
			                		<div class="content-user-name" ng-bind="instaInfo.userName"></div>
			                	</div>
			                </div>
		                </div>
		            </div> 
		         </div>
				<!--ページング-->
			</div>
			<!--サブ・コンテンツ-->
			<div class="pure-u-1 pure-u-md-1-3 contents-sub">
				<div class="topic"><i class="fa fa-camera-retro fa-lg"></i> #petitmo</div>
				<div class="pure-g">
		            <div class="pure-u-1-2 pure-u-md-1" ng-repeat="petitmoInfo in resp.petitmoInfos" ng-hide="show_loading">
		                <!--コンテンツ-->
		                <div class="content">
			                <a ng-href="{{ petitmoInfo.link }}">
			                	<img class="pure-img" ng-src="{{ petitmoInfo.imageUrl }}">
			                </a>
			                <div class="content-image-meta">出典:Instagram.com</div>
			                <div class="pure-g content-meta">
			                	<div class="pure-u-1-4">
			                		<img class="pure-img content-image-user" ng-src="{{ petitmoInfo.userPictureUrl}}">
			                	</div>
			                	<div class="pure-u-3-4">
			                		<div class="content-user-name" ng-bind="petitmoInfo.userName"></div>
			                	</div>
			                </div>
		                </div>
		            </div> 
		         </div>
			</div>
		</div>
	</div>
	<!--ページトップ-->
	<div id="page-top">
   				<p><a href="#" id="page-top1"><i class="fa fa-hand-pointer-o fa-2x"></i>
</a></p>
	</div>
	<!--フッター-->
	<div class="pure-g footter">
		
		<!--帯コンテンツ-->
		<!--コピーライト-->
		<div class="pure-u-1">
			&copy; 2015 Copyright  by petitmo.co
		</div>
	</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_ja-jp.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js?ver=3.8.1"></script>
<script type="text/javascript" src="/scripts/ui.js"></script>
<script src="/scripts/app.js"></script>
</html>