<!doctype html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="chinohara'page.">
    <!-- オープングラフプロトコル。通称OGプロトコル start -->
    <meta property="og:title" content="Petitmo.net"/>
    <meta property="og:description" content="子供をもっと可愛く、格好良く！Instagram viewer."/>
    <!--<meta property="og:image" content="http://chinohara.github.io/images/PENGIN.png"/>-->
    <meta property="og:url" content="http://putitmo.net/"/>
    <meta property="og:type" content="website"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">
	<link href="/styles/common.css" rel="stylesheet" type="text/css" media="all" />
	<title>Petitmo|子供をもっと可愛く、格好良く！</title>
	<!--<script src="/scripts/controllers/main.js"></script>-->
</head>
<body ng-controller="mainCtrl">
	<!--メニュー-->
	<div class="custom-wrapper pure-g" id="menu">
	    <div class="pure-u-1 pure-u-md-1-3">
	        <!--<div class="pure-menu">
	            <a href="#" class="pure-menu-heading custom-brand">Petitmo</a>
	            <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
	        </div>-->
	    </div>
	    <div class="pure-u-1 pure-u-md-1-3">
	    	<div class="pure-menu">
	            <a href="#" class="pure-menu-heading custom-brand">Petitmo</a>
	            <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
	        </div>
	        <!--<div class="pure-menu pure-menu-horizontal custom-can-transform">
	            <ul class="pure-menu-list">
	                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
	                <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
	            </ul>
	        </div>-->
	    </div>
	    <div class="pure-u-1 pure-u-md-1-3">
	        <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
	            <ul class="pure-menu-list">
	                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
	                <li class="pure-menu-item"><a href="views/about.html" class="pure-menu-link">About</a></li>
	            </ul>
	        </div>
	    </div>
	</div>
	
	
	<!--ヘッダー-->
	<div class="pure-g header space">
		<!--ランディング Main-->
		<div class="pure-u-1-1 pure-u-md-18-24">
			<img class="pure-img" src="/img/2469413782_467ae54f76_o.jpg"></img>
		</div>
		<!--ランディング Sub-->
		<div class="pure-u-1-1 pure-u-md-6-24">
			<div class="pure-g">
				<div class="pure-u-1-1">
					<div class="caption"><i class="fa fa-thumbs-o-up fa-lg"></i> SNSでシェアする</div>
				</div>
				<!--Facebookでシェア-->
				<div class="pure-u-1-3">
					<div class="fb">
						
          					<a id="share_fb" href="http://www.facebook.com/share.php?u=http://petitmo.net"onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"><img class="pure-img" src="/img/fb-art.jpg"/></a>
          				
					</div>
          		</div>
          		<!--Twitterでシェア-->
          		<div class="pure-u-1-3">
          			<div class="tw">
          				
          					<a id="share_tw" href="https://twitter.com/share?url=http://petitmo.net&text=&Petitmo%7c%e5%ad%90%e4%be%9b%e3%82%92%e3%82%82%e3%81%a3%e3%81%a8%e5%8f%af%e6%84%9b%e3%81%8f%e3%80%81%e6%a0%bc%e5%a5%bd%e8%89%af%e3%81%8f%ef%bc%81via=Petitmo" target="blank"><img class="pure-img" src="/img/TwitterLogo_55acee.png"/></a>
          				
          			</div>
          		</div>
          		<!--LINEで送る-->
          		<div class="pure-u-1-3">
          			<div class="line">
          				
          					<a id="share_line" href="http://line.me/R/msg/text/?Petitmo%7c%e5%ad%90%e4%be%9b%e3%82%92%e3%82%82%e3%81%a3%e3%81%a8%e5%8f%af%e6%84%9b%e3%81%8f%e3%80%81%e6%a0%bc%e5%a5%bd%e8%89%af%e3%81%8f%ef%bc%81%0D%0Ahttp://petitmo.net"><img class="pure-img" src="/img/linebutton_40x40.png"/></a>
          				
          			</div>
				</div>
			</div>
		</div>
	</div>
	<!--メインー-->
	<div class="pure-g main space">
		<!--コンテンツ Main-->
		<div class="pure-u-1-1 pure-u-md-18-24 contents-main">
			<!--コンテンツヘッダー-->
			<div class="topic">
				<i class="fa fa-calendar fa-lg"></i> {{resp.batchCreatedDate | date:'M / d (EEE)'}}
				<i class="fa fa-clock-o fa-lg"></i> {{resp.batchCreatedDate | date:'a h 時'}}更新
			</div>
			<div ng-show="show_loading">
	    		<div class="loader">Loading...</div>
	  		</div>
			<!--コンテンツグループ-->
			<div class="pure-g contents-main" ng-show="show_photos">
				<div class="pure-u-1-2 pure-u-md-1-3" ng-repeat="instaInfo in resp.instaInfos" ng-hide="show_loading">
					<!--コンテンツ-->
	                <div class="content">
		                <a ng-href="{{ instaInfo.link }}">
		                	<img class="pure-img" ng-src="{{ instaInfo.imageUrl }}">
		                </a>
		                <div class="content-image-meta">出典:Instagram.com</div>
		                <div class="pure-g content-meta">
		                	<div class="pure-u-1-4">
		                		<img class="pure-img content-image-user" ng-src="{{ instaInfo.userPictureUrl}}">
		                	</div>
		                	<div class="pure-u-3-4">
		                		<div class="content-user-name" ng-bind="instaInfo.userName"></div>
		                	</div>
		                </div>
	                </div>
				</div>
			</div>
		</div>
		<!--コンテンツ Sub-->
		<div class="pure-u-1-1 pure-u-md-6-24 contents-sub">
			<div class="topic"><i class="fa fa-camera-retro fa-lg"></i> #petitmo</div>
			<!--コンテンツ-->
			<div class="pure-g">
				<div class="pure-u-1-1" ng-repeat="petitmoInfo in resp.petitmoInfos" ng-hide="show_loading">
					<!--コンテンツ-->
	                <div class="content">
		                <a ng-href="{{ petitmoInfo.link }}">
		                	<img class="pure-img" ng-src="{{ petitmoInfo.imageUrl }}">
		                </a>
		                <div class="content-image-meta">出典:Instagram.com</div>
		                <div class="pure-g content-meta">
		                	<div class="pure-u-1-4">
		                		<img class="pure-img content-image-user" ng-src="{{ petitmoInfo.userPictureUrl}}">
		                	</div>
		                	<div class="pure-u-3-4">
		                		<div class="content-user-name" ng-bind="petitmoInfo.userName"></div>
		                	</div>
		                </div>
	                </div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!--ページトップ-->
	<div id="page-top">
   		<p><a href="#" id="page-top1"><i class="fa fa-hand-pointer-o fa-2x"></i>
		</a></p>
	</div>
	<!--フッター-->
	<div class="pure-g footter">
		
		<!--帯コンテンツ-->
		<!--コピーライト-->
		<div class="pure-u-1">
			&copy; 2015 Copyright  by petitmo.net
		</div>
	</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_ja-jp.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js?ver=3.8.1"></script>
<script type="text/javascript" src="/scripts/ui.js"></script>
<script src="/scripts/app.js"></script>
</html>